/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import compass/css3
@import compass/typography

@mixin margin($side, $value: 0)
  margin-#{$side}: $value

body
  color: #333
  background: #F9F9F9 url(imgs/bg.png) repeat
  font-family: "Helvetica", Arial, sans-serif
  font-size: 16px

a, a:link, a:visited
  text-decoration: none
  cursor: pointer
li, ul
  margin: 0
  padding: 0
  list-style: none

h2
  font-size: 2.2em
  font-weight: normal
  margin: 10px 0 5px 0
  font-family: 'Varela Round', sans-serif

p
  color: #555
  margin: 0 0 10px 0

*:focus
  outline: none

.left
  float: left

.right
  float: right

.button
  cursor: pointer
  color: #FFF
  display: block
  padding: 5px 5px 3px
  border: 2px solid #999
  border: 1px solid rgba(0, 0, 0, 0.2)
  float: left
  margin: 14px 0 0 30px
  text-transform: uppercase
  font-size: 1em
  text-align: center
  background: #9C3
  +border-radius(4px)
  +transition(opacity 0.2s linear)
  +box-shadow(0 2px rgba(255, 255, 255, 0.5) inset, 1px 1px #40740C, 2px 2px #40740C, 3px 3px #40740C)
  +text-shadow(0 -1px rgba(0, 0, 0, 0.2))
  &:link, &:visited
    color: #FFF
  &:hover
    color: #FFF
    background: #5EA623



header.top
  overflow: hidden

.date_location
.event_date, .event_time
  float: left
  font-size: 2.8em
  padding: 10px
  border-right: 2px solid #FFF
  +box-shadow(1px 0 0 #CCC)
.event_date
  text-transform: uppercase
.location
  float: left
  padding: 5px 10px 10px
  .dom_bosco
    background: url(imgs/pin.png) no-repeat right center
    padding: 5px 20px 0 0
    a
      color: #333
      border-bottom: 1px dotted
      font-size: 1.1em
  .city
    font-size: 1.3em


#container
  position: relative
  margin-top: 20px

#main
  position: relative

.logo
  img
    width: 220px
  .date
    width: 220px
    text-align: right
    color: #999
    font-size: 0.9em

.bubble
  +box-shadow(0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 -3px 0 rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 2px 4px rgba(0, 0, 0, 0.1))
  margin-bottom: 75px
  padding: 10px
  position: relative
  margin-left: 43px
  background: #FFF
  float: left
  font-size: 1.5em
  text-align: center
  .arrow
    position: absolute
    left: -95px
    top: 25px
    border-style: solid
    border-width: 51px 50px 0 
    border-color: transparent #FFF transparent transparent

#about
  clear: both
  padding-bottom: 15px
  background: #FFF
  +border-radius(5px)
  h2
    float: left
    margin-left: 10px

#agenda
  h2
    margin-bottom: 10px
  .whitespace_troll
    padding-top: 150px
    text-align: center
    color: rgba(200, 200, 200, .4)
  li
    height: 3.8em
    &:last-child
      background: rgba(255, 255, 255, .5)
      margin-top: -10px
      padding: 10px
      height: auto
      text-align: center
    img
      &.bacon
        margin-bottom: -5px
        height: 20px
        +transform(rotate(30deg))
    em 
      margin-right: 1.5em
      font-style: normal
      font-size: 0.8em
    .time
      width: 3em
      float: left
      text-align: center
      color: white
      font-weight: bold
      background: #666
      margin-top: -6px
      padding: 4px 0
      +transform(rotate(3deg))
      +border-radius(20px)
      +box-shadow(1px 1px #fff)
      +text-shadow(1px 2px #333)
    .activity
      text-align: left
      width: 20em
      margin-bottom: 0.5em
      float: right
      clear: right
      img
        margin-right: 15px
        

#desconf-2010
  position: relative
  padding: 40px 0 50px 0
  margin: 50px 0 30px
  overflow: hidden
  background: url(/imgs/carbon_fibre_v2.png) repeat
  h2
    margin-bottom: 20px
    color: white
  .moar-desconf-2010
    position: absolute
    bottom: 0
    right: 0
    margin: 0 0 -60px 0
    display: block
    background: #fff
    height: 40px
    line-height: 40px
    padding: 0 35px 10px 15px 
    float: right
    text-transform: uppercase
    +border-radius(5px)
    color: #3F6279
    background: #F9F9F9 url(imgs/bg.png) repeat
    .arrow-down
      position: absolute
      top: 18px
      right: 0
      margin: 0 15px
      display: block
      width: 0
      height: 0
      border: 5px solid transparent
      border-bottom: 3px solid transparent
      border-top: 5px solid #3F6279
      &.up
        top: 14px
        border: 5px solid transparent
        border-top: 3px solid transparent
        border-bottom: 5px solid #3F6279
  ul
    height: 15em
    overflow: hidden
    li
      height: 15em
      margin-bottom: 20px
      text-align: center
      img
        border: 3px solid #666
      strong
        display: block
        width: 210px
        margin-left: 40px
        a 
          color: #FFF
      &:hover
        text-decoration: underline
        img
          border-color: #FFF
    

.share
  margin: 30px 0 0 0
  position: relative
  float: left
  left: 40px
  p
    background: url(imgs/arrow.png) no-repeat 40px 34px
    float: left
    height: 70px
    margin-right: 10px
    font-size: 1.5em
    font-family: 'Zeyada', cursive
    +transform(rotate(-9deg))
  .buttons
    margin-left: 10px
  .twitter-share-button
    margin-right: 10px
 
nav.main
  float: right
  margin: 50px 0 30px 0
  ul
    overflow: visible
    margin: 0 0 40px 0
    li
      margin: 10px 30px 0 0
      float: left
      +border-radius(25px)
      background: #233643
      padding: 5px 10px
    a
      padding: 5px
      color: #FFF
    li:hover, .selected
      color: #FFF
      background: #3F6279
    
#lectures
  .people
    +border-radius(5px)
    li
      float: left
      background: url(imgs/face.png) no-repeat center
      height: 41px
      width: 44px
      margin: 5px
      overflow: hidden

  .people.speakers
    background: #B7355D
    float: left
  .people.public
    background: #D1D1D1
    float: right
    li
      width: 40px

.plus
  text-align: center
  font-size: 8em
  margin-top: 155px
  float: left

.arrow, .arrow_border
  border-color: transparent transparent #333 transparent
  border-style: solid
  border-width: 8px
  height: 0
  width: 0
  position: absolute
  top: -16px
  left: 8px

.tip:hover 
  position: relative
.tip div
  display: none

.tip:hover div
  text-transform: normal 
  font-size: 13px !important
  line-height: 15px !important
  font-weight: normal !important
  background: #333
  color: #FFF
  padding: 5px
  display: block
  z-index: 1000
  left: -20px
  margin: 10px 20px
  position: absolute
  top: 40px
  white-space: nowrap
  +border-radius(3px)

.tip.left:hover div
  top: -10px
  left: 200px

#interaction
  margin: 100px 0

#dojos
  span
    background: url(imgs/dojo.png) no-repeat
    height: 260px
    width: 304px
    display: block

#open_spaces
  span
    background: url(imgs/conversation.png) no-repeat
    height: 250px
    width: 438px
    display: block


#buy_tickets
  margin-bottom: 100px
  background: #FFF
  padding: 10px
  +border-radius(5px)
  h3
    font-size: 16px
  ul li
    margin-bottom: 10px

#contact
  font-size: 3em
  clear: both
  background: #B7355D
  padding: 20px 0
  +text-shadow(0 -1px rgba(0, 0, 0, .3))
  p
    float: left
    font-family: 'Varela Round', sans-serif
    color: #FFF
    margin-top: 5px
  a
    color: #FFF
    background: #CFC470
    float: right
    padding: 5px 20px
    +border-radius(3px)
    +box-shadow(0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .2))
    +text-shadow(0 -1px rgba(0, 0, 0, .3))
    +transition(background-color .2s linear 0)
    &:hover
      background: #E6DA7D

footer
  margin-top: 100px
  .partners
    margin: 20px 0
    float: left
    h3
      margin: 0 0 20px 0
    .button
      margin: -8px 0 0 0 
      float: right
    ul
      float: left
      margin: 0
      li
        background: #FFF
        float: left
        margin-right: 20px
        +border-radius(5px)
        &:last-child
          margin: 0
        a
          +border-radius(5px)
          padding: 10px
          display: block
          border: 2px solid transparent
          &:hover
            border: 2px solid #E0E0E0
          strong 
            display: block
            text-align: center
            width: 80px
            height: 65px
            line-height: 65px
            color: black
            font-family: 'Helvetica Neue', Ubuntu, 'Trebuchet MS'
            font-size: 16px
            letter-spacing: 1px
  .thanks
    display: block
    clear: both
    float: right
    margin: 30px 0 30px 16px
    background: url(imgs/megaphone.png) no-repeat 5px center
    padding: 5px 5px 5px 30px
    font-variant: small-caps
    color: #4C4C4C
    &:hover
      background-color: #FFF

#thanks
  margin-bottom: 20px
  .wrapper
    padding: 10px
    background: #FCFCFC
    border: 1px solid #FFF
    width: 98%
    float: left
    +box-shadow(1px 1px #DDD, 2px 2px #DDD, 3px 3px #DDD, 4px 4px #DDD, 5px 5px #DDD, 6px 6px #DDD, 7px 7px #DDD, 8px 8px #DDD)
    ul
      margin-top: 20px
      float: left
    li
      float: left
      margin-right: 32px
      text-align: center
      &:last-child
        margin-right: 0
      a
        color: #B7355D
  #scroll_target
  

#register
  li
    float: left
    position: relative

  label[for="name"],
  label[for="mail"]
    font-size: 2.2em
    color: #BBB
    position: absolute
    cursor: normal
    top: 15px

  input.text
    border: none
    font-size: 1.2em
    padding: 10px
    margin: 10px 20px 10px 30px
    border: 1px solid #DDD
    +transition(border-color .2s linear, background .2s linear)
    +background-image(linear-gradient(white, #F9F9F9))
    +border-radius(5px)
    &:focus
      border-color: #BBB
      +background-image(linear-gradient(#F9F9F9, #EEE))
  input[name="name"]
    margin-left: 25px

  .subscribe_button
    margin: 10px 10px 10px 0
    color: #FFF
    background: #60B3DC
    padding: 10px 20px
    border: 1px solid rgba(0, 0, 0, .2)
    +transition(background-color .2s linear)
    +border-radius(5px)
    +text-shadow(0 -1px rgba(0, 0, 0, .2))
    +box-shadow(0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff)
    &:focus, &:hover
      border: 1px solid rgba(0, 0, 0, .5)
      background: #58A5CC


#thankyou
  position: relative
  margin: 100px auto 0 auto
  width: 500px
  z-index: 1
  background: #9C3
  padding: 10px
  border: 4px #FFF solid
  +border-radius(10px)
  +box-shadow(1px 1px 3px #909090, 1px 1px 0 #693, -1px -1px 1px #693, -1px -1px 3px #909090)
  p
    color: #fff
    font-family: "Varela Round", sans-serif
    font-size: 2em
    text-align: center
    +text-shadow(-1px -1px 0 #693)

  .euvou
    color: #FFF
    text-align: right
    font-size: 1.1em
    border-top: dotted #FFF 1px
    padding-top: 10px
    margin-top: 20px
    span
      position: absolute
      right: 73px
      bottom: 15px
