/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import compass/css3
@import compass/typography

@mixin margin($side, $value: 0)
  margin-#{$side}: $value

body
  color: #333
  background: #F9F9F9 url(imgs/bg.png) repeat
  font-family: "Helvetica", Arial, sans-serif

a, a:link, a:visited
  text-decoration: none

#container
  margin-top: 20px

.logo
  img
    width: 220px
  .date
    width: 220px
    text-align: right
    color: #999
    font-size: 0.9em

.bubble, .basic_info
  padding: 10px
  position: relative
  margin-top: 90px
  margin-left: 43px
  background: #FFF
  float: left
  font-size: 2em
  text-align: center
  .arrow
    position: absolute
    left: -95px
    top: 40px
    border-style: solid
    border-width: 0 50px 51px
    border-color: transparent #FFF transparent transparent
.basic_info
  background: none
  .city, .date
    margin: 0
  .city
    font-size: 1.4em
  .date
    font-size: 2.2em

nav.main
  +border-left-radius(8px)
  +box-shadow(0 1px 0 #FFF)
  position: fixed
  right: 0
  background: #385569
  padding: 15px 10px
  margin: 10px
  +margin(right)
  ul
    +horizontal-list
    float: right
    overflow: visible
    a
      +border-radius(20px)
      +link-colors(#FFF, #A5D9FF, #A5D9FF, #FFF, #A5D9FF)
      padding: 4px 10px
    a:hover, .selected
      background: #233643
    .buy
      color: #A5D9FF
    
